html{
    font-size: 62.5%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 3rem;
}

img{
    display: block;
    max-width: 100%;
}

.grid{
    display: grid;
    grid-template-columns: 100px 200px 100px 100px 100px 100px 100px 100px;/*8 cột*/
    grid-template-columns: 1fr 3fr 1fr 1fr 1fr 1fr 1fr 1fr;/*8 cột*/
    grid-column-gap: 20px; /*khoảng cách giữa các cột*/
    /* grid-template-columns: repeat(8, 1fr); 8 cột, mỗi cột rộng là đơn vị 1fr */
    /* đơn vị fr: */
    /* gap : khoảng chống giữa các cột và hàng */
    /* giá trị repeat() */

    grid-template-columns: repeat(4, 1fr);

    grid-row-gap: 20px;
    grid-gap: 30px 40px; /*row colum*/
    /* grid-template-rows: 200px 400px; hàng 1: 200px, hàng 2: 400px */

    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));/*ko lấp đầy khoảng trống*/
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); /*lắp đầy khoảng trống*/

    /* minmax(100px, 1fr) : min: 100px, max: 1fr*/
}

.grid-item{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* grid làm dc cả chiều ngang và dọc cùng lúc
flexbox chỉ làm dc 1 chiều */

/* grid2 */
.grid2{
    display: grid;
    padding: 40px;
    grid-template-columns: repeat(4, 1fr); /*4 cột, mỗi cột rộng 1fr*/
    grid-template-rows: repeat(3, 300px); /*3 hàng, mỗi cột rộng 300px*/
    grid-gap: 20px;
}

.grid2-item:first-child{
    /* grid-column: grid-column start grid-column end*/
    grid-column-start: 1;
    grid-column-end: 3;
    grid-column: 1/3; /*viết tắt*/

    /* grid-column: grid-row start grid-row end*/
    grid-row-start: 1;
    grid-row-end: 3;
    grid-row: 1/3;
}

.grid2-item{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.grid2-item:nth-child(4){
    /* hinh so 4 nam o duong ke dọc 1 - 2 */
    grid-column: 1/2;
}   

.grid2-item:nth-child(5){
    /* hinh so 5 nam o duong ke dọc 2 - 3 */
    grid-column: 2/3;
}

.grid2-item:last-child{
    /* hinh so 6 nam o duong ke dọc 3 tới -1 */
    /* 3 cách */
    grid-column: 3/5;
    grid-column: 3/-1;
    grid-column: 3/span 2; /*3 và chiếm 2 cột*/

    /* hình số 6 nằm ở đường kẻ ngang số 2 và 4 */
    /* 3 cách */
    grid-row: 2/4;
    grid-row: 2/-1;
    grid-row: 2/span 2;
} 

.grid3{
    display: grid;
    padding: 40px;
    grid-template-columns: repeat(4, 1fr); /*4 cột, mỗi cột rộng 1fr*/
    grid-template-rows: repeat(3, 300px); /*3 hàng, mỗi hàng rộng 300px*/
    grid-gap: 20px;

    /* sd cái này ở cha */
    grid-template-areas: 
    "h1 h1 h2 h3"
    "h1 h1 h6 h6"
    "h4 h5 h6 h6";
    /* 
    h1 h1 h2 h3
    h1 h1 h6 h6
    h4 h5 h6 h6
    */
}

.grid3-item{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.grid3-item:first-child{
    grid-area: h1;
}

.grid3-item:nth-child(4){
    grid-area: h4;
}

.grid3-item:nth-child(5){
    grid-area: h5;
}

.grid3-item:last-child{
    grid-area: h6;
}

.icon{
    width: 100px;
    height: 100px;
    background-color: chartreuse;

    /* căn giữa trong grid css */
    display: grid;
    place-items: center; 
    /* align-items: center;
    justify-content: center; */
}

.grid-layout div{
    padding: 50px;
    color: white;
    text-transform: uppercase;
    font-size: 20px;
}

.header{
    background-color: black;
}
.menu{
    background-color: red;
}
.hero{
    background-color: blue;
}
.main{
    background-color: gray;
}
.banner{
    background-color: yellow;
}
.extra{
    background-color: green;
}
.image{
    background-color: cyan;
}

@media screen and (min-width: 768px) {
    /* tablet trở lên*/
    .grid-layout{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 100px 300px 300px 150px 150px;

        /* 
        header header header header
        hero   hero   hero   hero
        menu   main   main   main
        menu   main   main   main
        menu   banner banner banner
        menu   extra  extra  image
        */

        grid-template-areas: 
            "header header header header"
            "hero   hero   hero   hero"
            "menu   main   main   main"
            "menu   banner banner banner"
            "menu   extra  extra  image";
    }

    .header{
        grid-area: header;
    }
    .hero{
        grid-area: hero;
    }
    .menu{
        grid-area: menu;
    }
    .banner{
        grid-area: banner;
    }
    .extra{
        grid-area: extra;
    }
    .image{
        grid-area: image;
    }
    .main{
        grid-area: main;
    }
}

@media screen and (min-width: 1280px) {
    /* desktop */
    .grid-layout{
        grid-template-rows: 100px 500px 200px 200px 200px;
        grid-template-areas: 
            "header menu menu menu"
            "hero   hero   hero   hero"
            "main   main   .    image"
            "main   main . extra"
            "banner banner banner banner";
    }
}
