html {
    font-size: 62.5%;
  }
  
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 1.6rem;
    font-family: "Helvetica Neue", sans-serif;
    background-color: #f3f3f3;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
}

.button{
    padding: 20px;
    color: white;
    background-color: #ffa400;
    border: 0;
    margin: 50px auto;
    width: 300px;
    display: block;
}

.change{
    display: block;
    padding: 15px 40px;
    border-radius: 10px;
    border: 0;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    margin: 50px auto;
    background-color: #3d6ef2;
}